<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - Cargo Express</title>
    <link rel="stylesheet" href="../static/css/styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Asap:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <script>
      async function handleLogin(event) {
        event.preventDefault();

        const username = document.getElementById("username").value;
        const password = document.getElementById("password").value;

        const response = await fetch("/login", {
          method: "POST",
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
          },
          body: new URLSearchParams({
            username: username,
            password: password,
          }),
        });

        if (response.ok) {
          const data = await response.json();
          const token = data.token;

          localStorage.setItem("token", token);

          window.location.href = "/monitoreo";
        } else {
          alert("Invalid credentials, please try again.");
        }
      }
    </script>
  </head>
  <body class="login-body">
    <div class="login-container">
      <div class="login-content">
        <h2>Welcome Back</h2>
        <form onsubmit="handleLogin(event)">
          <div class="input-group">
            <input type="text" id="username" name="username" required />
            <label for="username">Username</label>
          </div>
          <div class="input-group">
            <input type="password" id="password" name="password" required />
            <label for="password">Password</label>
          </div>
          <button type="submit">Sign In</button>
        </form>
        <div class="footer">
          <p>&copy; 2024 Cargo Express</p>
        </div>
      </div>
    </div>
  </body>
</html>
